$blanco: #000000 ;

.imagenhome{
    margin-left: 650px;
}
.marcas{
    
    margin-left: 400px;
}

.fotomarca{
margin-left: 50px;
}

.logo{
    display: inline;
    margin-left: 30px;
    
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
